In [3]:
import pandas

import sys
sys.path.append("../..")
from write_answer import write_answer

In [4]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [5]:
sex = data.Sex.value_counts(0)
print("Male/female:")
write_answer(1, sex)

Male/female:
Answer 1:  male      577
female    314
Name: Sex, dtype: int64

In [6]:
survived = data.Survived.value_counts(1)
print("Survived:")
write_answer(2, survived)

Survived:
Answer 2:  0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [7]:
firstClass = data.Pclass.value_counts(1)
print("firstClass:")
write_answer(3, firstClass)

firstClass:
Answer 3:  3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [8]:
dataMedian = data.Age.median()
print("Median age:")
write_answer(4, dataMedian)

Median age:
Answer 4:  28.0

In [9]:
dataAge = data.Age.mean()
print("Avg age:")
write_answer(5, dataAge)

Avg age:
Answer 5:  29.69911764705882

In [10]:
pearson = data.SibSp.corr(data.Parch)
write_answer(6, pearson)

Answer 6:  0.41483769862015646

In [11]:
maleName = data[data.Sex=='female']['Name']
print(maleName)

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object